.journal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-row {
    display: flex;
    align-items: center;
}

.form-label {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 150px
}

.input {
    border: none;
    background: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: "Source Sans 3", serif;
    border-bottom: 1px solid #7c7c7c;
    width: 100%;
}

.invalid {
    border: 1px solid red;
    background: rgb(102, 17, 17);
}

.delete {
    background: none;
    border: none;
    cursor: pointer;
    padding: 1px;
    margin-left: 5px;
}

.delete:hover {
    background: rgb(255, 255, 255, 0.1);
    border-radius: 50%;
}